@()

<script id="conditions-template" type="text/x-handlebars-template">
  {{#each conditions}}
    <tr>
      {{#if @@first}}
        {{#if ../../permission}}
            <td rowspan="{{../../../count}}" class="conditions-cell"><span class="text-success">Permissions</span></td>
        {{/if}}
        {{#if ../../requirement}}
            <td rowspan="{{../../../count}}" class="conditions-cell"><span class="text-warning">Obligations</span></td>
        {{/if}}
        {{#if ../../prohibition}}
            <td rowspan="{{../../../count}}" class="conditions-cell"><span class="text-danger">Prohibitions</span></td>
        {{/if}}
      {{/if}}
      <td>{{this.label}}</td>
    </tr>
  {{/each}}
</script>