@()

<div class="modal fade" id="incorrect-settings" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="model-title">Incorrect Settings</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger">
          <i class="fa fa-times-circle fa-lg"></i> You cannot choose the same action as a permission and a prohibition.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
