@(activePage: Int = 0)

<ul class="nav navbar-nav navbar-right">
    <li @if(activePage == 1) { class="active" }><a href="@routes.Application.index">Home</a></li>
    <li @if(activePage == 2) { class="active" }><a href="@routes.Application.about">About</a></li>
    <li @if(activePage == 3) { class="active" }><a href="@routes.Application.contact">Contact</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@routes.LicenseService.licenseServiceIndex">Licenses Search Engine</a></li>
        <li><a href="@routes.ConditionsService.conditionsServiceIndex">Licenses Compatibility Checker</a></li>
        <li><a href="@routes.Visualizer.visualizerSelection">Licenses Visualizer</a></li>
	    <li><a href="/nll2rdf">Natural Language Licenses To RDF</a></li>
      </ul>
    </li>
</ul>