@()

<script id="selector-template" type="text/x-handlebars-template">
  <option disabled selected>-- Choose an option --</option>
  {{#each options}}
    {{#if this.label}}
      <option value="{{this.rule}}">{{this.label}}</option>
    {{else}}
      <option value="{{this.id}}">{{this.title}}</option>
    {{/if}}
  {{/each}}
</script>