@(message: String = "")

@main("Error 403: Forbidden Access"){
<div class="jumbotron">
    <div class="container">
        <h1>Error 403: Forbidden Access</h1>
        <p class="lead">
            You lack the rights to access this area.
        </p>
        @if(message) {
            <p class="lead">
                @message
            </p>
        }
    </div>
</div>
}