@()

@main("Error 500: Internal server error"){
<div class="jumbotron">
    <div class="container">
        <h1>Error 500: Internal Server Error</h1>
        <p class="lead">An error occurred. Please contact the administrators.
        </p>
    </div>
</div>
}