@(request: RequestHeader = null)

@main("Error 404: Not Found"){
<div class="jumbotron">
    <div class="container">
        <h1>Error 404: Not Found</h1>
        <p class="lead">
          @if(request != null) {
            The resource @request.path doesn't exist in this server.
          } else {
            The resource doesn't exist in this server.
          }
        </p>
    </div>
</div>
}