/*
 * Licentia by INRIA
 * (c) 2014 Cristian Cardellino for INRIA
 *
 * Licensed under Apache License, Version 2.0
 * See http://www.apache.org/licenses/LICENSE-2.0 for more information.
 */

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 150px;
}

/* Navbar customizations */

#main-navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 15px;

  .brand {
    margin: -15px;

    #logo {
      width: 145px;
      height: 75px;
    }
  }

  #navbar-menu {
    font-weight: 500;
    font-size: 1em;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

/* Index jumbotron customizations */
#index-jumbotron {
  background-color: #3498db;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
}

.main-container {
  margin-bottom: 50px;
}

#main-features {
  margin-top: 30px;
}

/* License Service */

.rule-selector {
  margin-bottom: 15px;
  text-align: center;

  .selector {
    margin: 5px 0px;
  }

  #license-input {
    text-align: left;
  }
}

.container {
  .panel {
    a.license-about {
      color: #2c3e50;
    }
  }

  p.raw {
    color: #000;
    text-align: justify;
    font-size: 17px;

    a {
      color: #555;
      font-style: italic;
    }
  }

	p.raw.danger {
		color: #e74c3c;
	}
}

/* Footer customizations */

.footer {
  background-color: #2c3e50;
  bottom: 0;
  color: #fff;
  margin-top: 0px;
  height: 150px;
  position: absolute;
  width: 100%;

  h1, h2, h3, h4, h5 {
    color: #fff;
  }

  a {
    color: #aaa;

    &:hover {
      color: #ddd;
    }
  }

  .block {
    padding: 0 40px;
    margin-top: 25px;

    .block-header {
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
        font-variant: small-caps;
        font-weight: 500;
    }
  }
}

a.license-id {
  color: #fff;
}

/* Extra customs */
.centered-col {
  text-align: center;
}

.emph {
  color: #ddd;
  font-style: italic;
  font-weight: 400;
}

.results-heading {
  margin-bottom: 25px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.row-with-margin {
  margin-bottom: 15px;
}

#navigation-row {
  margin-top: 50px;
}

.incorrect-condition {
  background-color: #f2dede;
  color: #e74c3c;
}

#conditions-navbar {
  margin-bottom: 20px;
}

.list-head {
  background-color: #f8f8f8;
}

.progress {
  height: 21px;

  .progress-bar {
    font-size: 13px;
    line-height: 21px;
  }
}

.current-selected {
  border: 2px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list-head-licenses {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.list-head-permissions {
  background-color: #18bc9c;
  border: 1px solid #18bc9c;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.list-head-requirements {
  background-color: #f39c12;
  border: 1px solid #f39c12;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.list-head-prohibitions {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.conditions-cell {
  text-align: center;
  vertical-align: middle !important;
}

#permissions-items {
  &:hover {
    cursor:pointer;
  }
}

#requirements-items {
  &:hover {
    cursor:pointer;
  }
}

#prohibitions-items {
  &:hover {
    cursor:pointer;
  }
}

#licenses-items {
  &:hover {
    cursor:pointer;
  }
}

#top-button {
  position: fixed;
  left: 10px;
  bottom: 5px;
}

.top-buffer {
  margin-top: 20px;
}
