#user-selection-offset {
  height: 102px;
}

.fixed-current-selection {
  position: fixed;
  top: 5px;
}

.absolute-current-selection {
  position: absolute;
}

#panels-buttons {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}