div.vis {
  margin: auto;

  canvas {
    background-color: #f5f5f5;
  }

  .well {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: #444;
    color: #fff;
    opacity: 0.75;
    padding: 5px 15px;
  }

  div.options {
    position: absolute;
    top: 10px;
    right: 10px;

    .btn + .btn {
      margin-left: 5px;
    }
  }
}
