@()

@main(activePage = 2) {

<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <h1>About Licentia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="raw">
              Licentia is a web service application with the aim to support users in licensing data.
              Our goal is to provide a full suite of services to help in the process of choosing the
              most suitable license depending on the data to be licensed.
            </p>
            <p class="raw">
              The core technology used in our services is powered by the
              <a href="http://spin.nicta.org.au/spindle/" target="_blank">SPINdle Reasoner</a> and the use of
              <a href="http://plato.stanford.edu/entries/logic-deontic/" target="_blank">Defeasible Deontic Logic</a>
              to reason over the licenses and conditions.
            </p>
            <p class="raw">
              The dataset of RDF licenses we use in Licentia is the
              <a href="http://purl.org/NET/rdflicense" target="_blank">RDF licenses dataset</a>
              where the Creative Commons Vocabulary and Open Digital Rights Language (ODRL)
              Ontology are used to express the licenses.
            </p>
            <p class="raw">
              Licentia is a suite of services created and maintained by the
              <a href="http://wimmics.inria.fr/" target="_blank">Wimmics Research Team</a>: a joint research team
              between <a href="http://www.inria.fr/en/centre/sophia" target="_blank">Inria Sophia Antipolis - Méditerranée</a>
              and <a href="http://www.i3s.unice.fr/" target="_blank">I3S (CNRS and Université Nice Sophia Antipolis)</a>.
              The web service was built and designed by
              <a href="http://crscardellino.me" target="_blank">Cristian Cardellino</a> under the supervision of
              <a href="http://www-sop.inria.fr/members/Serena.Villata/" target="_blank">Serena Villata</a>.
            </p>
            <p class="raw danger">
              This website does not provide legal advice. The information provided by Licentia are automatically generated.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2>Services</h2>
            <h3>Search License</h3>
            <p class="raw">
              Our primary service is a search engine where data producers can look for a license giving a set
              of conditions they want to be enforced by the license. These conditions are expressed through
              permissions, prohibitions or prohibitions, and state rights and limitations for use and reuse of
              the data. In case we do not find any compatible license satisfying the data producer conditions,
              the search engine will return the set of the closest licenses compatible with the selected conditions,
              highlighting the unmet ones.
            </p>
            <h3>Check License Compatibility</h3>
            <p class="raw">
              We also offer a service to verify wether a determined license is compatible or not with a set of
              conditions. If the license is not compatible, the service will return the list of the conditions
              conflicting with the licenses available in our licenses dataset.
            </p>
            <h3 id="download-rdf">Visualize and Download a License</h3>
            <p class="raw">
              Using our visualization service, the user can have a graph-based visualization of the licenses,
              and then he also can download the RDF version (Turtle syntax) of such license.
            </p>
        </div>
    </div>
</div>

}
