@()

@admin("Overview", navbar = 1) {
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary btn-lg btn-block" href="@routes.Admin.newlicense()">Upload New License</a>
  </div>
</div>
}