@(oldLicense: String = "", oldConditions: List[Condition] = List())(implicit token: play.filters.csrf.CSRF.Token)

@import helper._

@js_variables = {
<script type="text/javascript">
  var conditionsCounter = {
    permissions: 0,
    requirements: 0,
    prohibitions: 0
  };
  var apiConditionsPath = "@routes.Conditions.listConditions";
  var apiLicensesPath = "@routes.Licenses.listLicenses";
  @if(oldConditions.nonEmpty) {
    var oldConditions = [];

    @for(condition <- oldConditions) {
      oldConditions.push({
        "clazz": "@condition.clazz",
        "rule": "@condition.rule"
      });
    }
  }
  @if(oldLicense != "") {
    var oldLicense = "@oldLicense";
  }
  var buttonLabel = "Check Out License Compatibility";
  var queryDone = false;
</script>
}

@extra_js = {
    <script src='@routes.Assets.at("javascripts/service.js")' type="text/javascript"></script>
}

@extra_templates = {
  @templates.selector()
  @templates.incorrectSettingsModal()
}

@main(js_variables = js_variables,
    extra_js = extra_js,
    extra_templates = extra_templates) {
<div class="container">
    <div class="row">
        <div class="col-md-12 centered-col">
            <h1>Licenses Compatibility Checker</h1>
        </div>
    </div>
    <div id="loader" class="h4">
      <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-center"></i></p>
      <p class="text-center h4">
        Loading service...
      </p>
    </div>
    <div id="service" class="hidden">
    <div class="row">
      <div class="col-md-6">
        <div class="row row-with-margin">
          <div class="col-md-12">
            <ul id="conditions-navbar" class="nav nav-pills nav-justified" role="tablist">
              <li class="active"><a id="licenses-tab" href="#licenses" role="tab" data-toggle="tab">License</a></li>
              <li><a id="permissions-tab" href="#permissions" role="tab" data-toggle="tab">Permissions</a></li>
              <li><a id="requirements-tab" href="#requirements" role="tab" data-toggle="tab">Obligations</a></li>
              <li><a id="prohibitions-tab" href="#prohibitions" role="tab" data-toggle="tab">Prohibitions</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="licenses">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Select the license</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group" id="licenses-input-group">
                    <select class="form-control" id="licenses-selector">
                    </select>
                    <label class="control-label hidden small" id="license-error-message" for="licenses-selector">
                      You must choose a license.
                    </label>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="permissions">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Select the permissions</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <select class="form-control" id="permissions-selector">
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="requirements">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Select the obligations</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <select class="form-control" id="requirements-selector">
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="prohibitions">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Select the prohibitions</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <select class="form-control" id="prohibitions-selector">
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="navigation-row">
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block" id="previous" disabled="disabled">
              <i class="fa fa-chevron-left"></i> Previous
            </button>
          </div>
          <div class="col-md-6">
            @form(routes.ConditionsService.checkConditionsCompatibility(), 'id -> "main-form") {
            @CSRF.formField
            <button type="submit" class="btn btn-info btn-block" id="form-submit">Check Out License Compatibility</button>
            }
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block" id="next">
              Next <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="list-group current-selected">
          <li class="list-group-item active">Current selection</li>
          <li id="licenses-items" class="list-group-item license-item text-info list-head list-head-licenses">License</li>
          <li class="list-group-item license-item" id="license-blank" data-value="null">&nbsp;</li>
          <li id="permissions-items" class="list-group-item permission-item text-success list-head">Permissions</li>
          <li class="list-group-item permission-item" id="permission-blank" data-value="null">&nbsp;</li>
          <li id="requirements-items" class="list-group-item requirement-item text-warning list-head">Obligations</li>
          <li class="list-group-item requirement-item" id="requirement-blank" data-value="null">&nbsp;</li>
          <li id="prohibitions-items" class="list-group-item prohibition-item text-danger list-head">Prohibitions</li>
          <li class="list-group-item prohibition-item" id="prohibition-blank" data-value="null">&nbsp;</li>
        </ul>
      </div>
    </div>
    </div>
</div>
}