@(compatible: Boolean, title: String, incompleteConditions: Set[Condition])

@extra_css = {
<style type="text/css">
    .mastfoot {
        position:absolute;
    }
</style>
}

@extra_js = {
<script type="text/javascript">
  $(window).load(function() {
    $.get("@routes.Conditions.listConditions", function (conditionsArray) {
      var template = Handlebars.compile($("#conditions-template").html());
      var permissions = [];
      var requirements = [];
      var prohibitions = [];
      var condition = null;

      @for(condition <- incompleteConditions) {
          condition = $.grep(conditionsArray,
              function (obj) {
                return (obj.clazz == "@condition.clazz") &&
                       (obj.rule == "@condition.rule");
              }).pop();

          @if(condition.clazz == "permission") {
            permissions.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "requirement") {
            requirements.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "prohibition") {
            prohibitions.push({
              label: condition.label
            });
          }
        }

      permissions.sort(sortConditions);
      requirements.sort(sortConditions);
      prohibitions.sort(sortConditions);

      var html = template({permission: true, count: permissions.length, conditions: permissions});
      $("#incomplete-conditions-list").append(html);
      html = template({requirement: true, count: requirements.length, conditions: requirements});
      $("#incomplete-conditions-list").append(html);
      html = template({prohibition: true, count: prohibitions.length, conditions: prohibitions});
      $("#incomplete-conditions-list").append(html);


      $("#loader").remove();
      $("#results").removeClass("hidden");
    })
  });
</script>
}

@main(extra_css = extra_css, extra_js = extra_js,
extra_templates = templates.conditionsTemplate()) {
<div class="container">
    <div class="row"><div class="col-md-12 centered-col">
        <h1 class="cover-heading">Licenses Compatibility Checker</h1>
    </div></div>
    <div id="loader" class="h4">
      <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-center"></i></p>
      <p class="text-center h4">
        Loading results...
      </p>
    </div>
    <div id="results" class="hidden">
    <div class="row"><div class="col-md-1">&nbsp;</div>
    <div class="col-md-10 centered-col">
        @if(compatible) {
          <h3 class="text-success results-heading">
            <i class="fa fa-check-circle fa-lg"></i> The license is compatible.
          </h3>
        } else {
          <h3 class="text-danger results-heading">
            <i class="fa fa-times-circle fa-lg"></i> The license is incompatible.
          </h3>
        }
    </div>
    <div class="col-md-1">&nbsp;</div></div>
    @if(!incompleteConditions.isEmpty) {
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
          <div class="panel @if(compatible) { panel-info } else { panel-danger }">
            <div class="panel-heading">
              <div class="panel-title">
                @title
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 centered-col">
                  @if(compatible) {
                    <h4>The license doesn't explicitly have these conditions</h4>
                  } else {
                    <h4>The license is incompatible with these conditions</h4>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <tbody id="incomplete-conditions-list">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    }
    </div>
</div>
}