@()

@main(activePage = 3) {

<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="raw">
              For information or contact about the Licentia project please contact:
              <address>
                <strong>Serena Villata</strong><br/>
                <i class="fa fa-envelope"></i> <a href="mailto:serena.villata@@inria.fr">Email Address</a><br/>
                <i class="fa fa-globe"></i> <a href="http://www-sop.inria.fr/members/Serena.Villata/" target="_blank">Website</a>
              </address>
            </p>
            <p class="raw">
              For problems or errors on the web pages please contact:
              <address>
                <strong>Cristian Cardellino</strong><br/>
                <i class="fa fa-envelope"></i> <a href="mailto:ccardellino@@famaf.unc.edu.ar">Email Address</a><br/>
                <i class="fa fa-globe"></i> <a href="http://crscardellino.me/contact" target="_blank">Website</a>
              </address>
            </p>
            <p class="raw">
              To contact the Wimmics Team please address to:
              <address>
                <strong>Research Centre Inria Sophia Antipolis - Méditerranée</strong><br/>
                2004, route des Lucioles - BP 93<br/>
                06902 Sophia Antipolis Cedex<br/>
              </address>
            </p>
        </div>
    </div>
</div>

}
