@import config.Global

@(licenses: List[(License, Set[Condition])], userConditions: List[Condition])

@extra_css = {
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/results.css")'>
<style type="text/css">
    .mastfoot {
        position:absolute;
    }
</style>
}

@extra_js = {
<script type="text/javascript">
  $(window).scroll(function() {
    windowpos = $(window).scrollTop();
    opacity = $("#top-button").css("opacity");

    if(windowpos > 0 && opacity == 0) {
      $("#top-button").css("opacity", 0);
      $("#top-button").animate({
        opacity: 1
      }, 500);
    } else if (windowpos == 0) {
      $("#top-button").animate({
        opacity: 0
      }, 500);
    }
  });

  $(window).load(function() {
    $(".collapse").collapse({"toggle": false});

    $.get("@routes.Conditions.listConditions", function (conditionsArray) {
      var icSizes = [];
      var maxICSize = 0;
      var uLen = @{userConditions.length};
      var template = Handlebars.compile($("#conditions-template").html());
      var html = null;
      var permissions = [];
      var requirements = [];
      var prohibitions = [];
      var condition = null;

      @for(condition <- userConditions) {
        condition = $.grep(conditionsArray,
                function (obj) {
                  return (obj.clazz == "@condition.clazz") &&
                         (obj.rule == "@condition.rule");
                }).pop();

          $("#" + condition.clazz + "-blank").remove();

          $("." + condition.clazz + "-item").last().after(
            '<li class="list-group-item ' + condition.clazz + '-item" data-value="null">' +
            condition.label +
            '</li>'
          );
      }

      @for((license, incompatibleConditions) <- licenses) {
        permissions = [];
        requirements = [];
        prohibitions = [];

        @for(condition <- incompatibleConditions) {
          condition = $.grep(conditionsArray,
                function (obj) {
                  return (obj.clazz == "@condition.clazz") &&
                         (obj.rule == "@condition.rule");
                }).pop();

          @if(condition.clazz == "permission") {
            permissions.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "requirement") {
            requirements.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "prohibition") {
            prohibitions.push({
              label: condition.label
            });
          }
        }

        permissions.sort(sortConditions);
        requirements.sort(sortConditions);
        prohibitions.sort(sortConditions);

        html = template({
          permission: true,
          count: permissions.length,
          conditions: permissions
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        html = template({
          requirement: true,
          count: requirements.length,
          conditions: requirements
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        var html = template({
          prohibition: true,
          count: prohibitions.length,
          conditions: prohibitions
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        icSizes.push({id: "@Global.sanitize(license.id)", size: "@incompatibleConditions.size"});

        maxICSize = (@{incompatibleConditions.size} > maxICSize) ? @{incompatibleConditions.size} : maxICSize;

        var mcLen = @{incompatibleConditions.size};

        var ccProgress = 100.0 * (uLen - mcLen) / uLen;
        var mcProgress = 100.0 - ccProgress;

        $("#@Global.sanitize(license.id)-cover-progress")
          .css("width", ccProgress + "%");
        $("#@Global.sanitize(license.id)-missing-progress")
          .css("width", mcProgress + "%");
      }

      function linearic(x) {
        return (- x / (2.0 * maxICSize) + 1.0);
      }

      $.each(icSizes, function(i, v) {
        $("." + v.id).css("background-color", "rgba(231,76,60," + linearic(v.size) + ")")
      });

      $("#loader").remove();
      $("#results").removeClass("hidden");

      $("#open-all").click(function(){
        $(".collapse").collapse("show");
      });

      $("#close-all").click(function(){
        $(".collapse").collapse("hide");
      });

      var userSelectionWidth = $("#user-selection").outerWidth(true) + "px";
      var userSelectionHeight = $("#user-selection").height();
      var userSelectionDefaultPos = $("#user-selection").offset().top - 5;

      $(window).scroll(function(event) {
        var windowpos = $(window).scrollTop();
        var userSelectionBottom = windowpos + userSelectionHeight + 5;
        var maximumBottomPosition = $(".footer").position().top - 21;
        var maximumTopPosition = $(".footer").position().top - userSelectionHeight - 353;

        if (windowpos > userSelectionDefaultPos && userSelectionBottom < maximumBottomPosition) {
          $("#user-selection").css("width", userSelectionWidth);
          $("#user-selection").css("top", "");

          $("#user-selection").addClass("fixed-current-selection");
          $("#user-selection").removeClass("absolute-current-selection");
        } else if (windowpos > userSelectionDefaultPos) {
          $("#user-selection").css("width", userSelectionWidth);
          $("#user-selection").css("top", maximumTopPosition);

          $("#user-selection").addClass("absolute-current-selection");
          $("#user-selection").removeClass("fixed-current-selection");
        } else {
          $("#user-selection").removeClass("fixed-current-selection");
          $("#user-selection").removeClass("absolute-current-selection");

          $("#user-selection").css("width", "");
          $("#user-selection").css("top", "");
        }
      });
    });
  });
</script>
}

@main(extra_css = extra_css, extra_js = extra_js,
extra_templates = templates.conditionsTemplate()) {
<div class="container">
    <div class="row"><div class="col-md-12 centered-col">
        <h1 class="cover-heading">Licenses Search Engine</h1>
    </div></div>
  <div id="loader" class="h4">
    <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-center"></i></p>
    <p class="text-center h4">
      Loading results...
    </p>
  </div>
  <div id="results" class="hidden">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-danger">
        <i class="fa fa-times-circle fa-2x pull-left"></i> Sorry, but we couldn't find a license in our
        <br/>repository matching your criteria
      </h3>
    </div>
  </div>
    @if(!licenses.isEmpty) {
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-warning results-heading">
          <i class="fa fa-exclamation-circle fa-lg"></i>
          However, the following licenses are the closest to your criteria
        </h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <div class="panel-group" id="incomplete-matches">
            @for((license, incompatibleConditions) <- licenses) {
              <div class="panel panel-danger  ">
                <div class="panel-heading @Global.sanitize(license.id)">
                  <div class="row">
                    <div class="col-md-9">
                      <a href="@license.about" class="license-id" target="_blank">@license.title</a>
                    </div>
                    <div class="col-md-3">
                      <a data-toggle="collapse" class="btn btn-sm btn-primary pull-right"
                         href="#@{Global.sanitize(license.id)}-missing-collapse">
                        More Information
                      </a>
                    </div>
                  </div>
                </div>
                <div id="@{Global.sanitize(license.id)}-missing-collapse" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                           style="width: 0%;" id="@Global.sanitize(license.id)-cover-progress">
                        Covered Conditions
                      </div>
                      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                           style="width: 0%;" id="@Global.sanitize(license.id)-missing-progress">
                        Missing Conditions
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 centered-col">
                        <h4>This license <span class="text-danger">doesn't match the conditions</span></h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-striped table-bordered">
                          <tbody id="@Global.sanitize(license.id)-missing">
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 centered-col">
                        <a href='@routes.Assets.at("licenses/" + license.id + ".ttl")'
                           class="btn btn-sm btn-primary">Download License RDF</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="col-md-4">
          <ul id="user-selection" class="list-group current-selected">
            <li class="list-group-item active">Your selection</li>
            <li class="list-group-item permission-item text-success list-head">Permissions</li>
            <li class="list-group-item" id="permission-blank" data-value="null">&nbsp;</li>
            <li class="list-group-item requirement-item text-warning list-head">Obligations</li>
            <li class="list-group-item" id="requirement-blank" data-value="null">&nbsp;</li>
            <li class="list-group-item prohibition-item text-danger list-head">Prohibitions</li>
            <li class="list-group-item" id="prohibition-blank" data-value="null">&nbsp;</li>
            <li id="panels-buttons" class="list-group-item active">
              <button id="open-all" class="btn btn-info btn-sm">Open All Panels</button>
              <button id="close-all" class="btn btn-info btn-sm pull-right">Close All Panels</button>
            </li>
          </ul>
        </div>
    </div>
    }
    </div>
</div>
}