@()

@main(activePage = 1) {

<div class="jumbotron" id="index-jumbotron">
    <div class="container">
        <h1>License your Data</h1>
        <p>Licentia is a suite of services to support you in looking for a suitable license for your data.
           Select the service you need from the list below!
        </p>
    </div>
</div>

<div class="container main-container" id="main-features">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3 text-center">
            <h2>Find a license for your Data</h2>
            <p><i class="fa fa-search fa-3x"></i></p>
        </div>
        <div class="col-md-3 text-center">
            <h2>Check if a license is compatible with your needs</h2>
            <p><i class="fa fa-check fa-3x"></i></p>
        </div>
        <div class="col-md-3 text-center">
            <h2>Visualize &amp; download licenses</h2>
            <p><i class="fa fa-download fa-3x"></i></p>
        </div>
        <div class="col-md-3 text-center">
            <h2>Convert your License to RDF</h2>
            <p><i class="fa fa-file fa-3x"></i></p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <p>
          Use this service to find the perfect license for your work. You only have to mark what permissions,
          obligations and prohibitions you would like to associate to the use and reuse of the data.
          Licentia returns the list of licenses compatible with the selected conditions.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <p>
          Use this service to check if the license you want to use for your data allows for a certain use or
          reuse of the data. You choose one license among our licenses repository and a set of conditions.
          Licentia tells you wether the license is compatible with the selected conditions.
        </p>
      </div>
      <div class="col-md-3 text-center">
        <p>
          Once you find the license your are looking for, you will be able to download it in RDF (Turtle syntax)
          to attach it to your data. Moreover, you can visualize a graph-based representation of the license
          using our licenses visualizer.
        </p>
      </div>
	  <div class="col-md-3 text-center">
	  	<p>
          Try out our tool to transform your licensing terms from natural language to RDF (Turtle syntax).
          Our Natural Language License to RDF (or NLL2RDF) tool uses machine learning algorithms to turn
          the licensing terms in English to an RDF file.
	  	</p>
	  </div>
    </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <p>
        <a href="@routes.LicenseService.licenseServiceIndex" class="btn btn-primary">Find a License</a>
      </p>
    </div>
    <div class="col-md-3 text-center">
      <p>
        <a href="@routes.ConditionsService.conditionsServiceIndex" class="btn btn-primary">Check License Compatibility</a>
      </p>
    </div>
    <div class="col-md-3 text-center">
      <p>
        <a href="@routes.Visualizer.visualizerSelection" class="btn btn-primary">Visualize and Download a License</a>
      </p>
    </div>
    <div class="col-md-3 text-center">
      <p>
        <a href="/nll2rdf" class="btn btn-primary">Transform your License to RDF</a>
      </p>
    </div>
  </div>
</div>
}
