@import config.Global

@(licenses: List[(License, Set[Condition])], incompleteLicenses: List[(License, Set[Condition])], userConditions: List[Condition])

@extra_css = {
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/results.css")'>
<style type="text/css">
    .mastfoot {
        position:absolute;
    }
</style>
}

@extra_js = {
<script type="text/javascript">
  $(window).scroll(function() {
    windowpos = $(window).scrollTop();
    opacity = $("#top-button").css("opacity");

    if(windowpos > 0 && opacity == 0) {
      $("#top-button").css("opacity", 0);
      $("#top-button").animate({
        opacity: 1
      }, 500);
    } else if (windowpos == 0) {
      $("#top-button").animate({
        opacity: 0
      }, 500);
    }
  });

  $(window).load(function() {
    $.get("@routes.Conditions.listConditions", function (conditionsArray) {
      var ecSizes = [];
      var maxECSize = 0;
      var template = null;
      var condition = null;
      var html = null;
      var permissions = [];
      var requirements = [];
      var prohibitions = [];
      var uLen = @{userConditions.length};

      @for(condition <- userConditions) {
        condition = $.grep(conditionsArray,
                function (obj) {
                  return (obj.clazz == "@condition.clazz") &&
                         (obj.rule == "@condition.rule");
                }).pop();

          $("#" + condition.clazz + "-blank").remove();

          $("." + condition.clazz + "-item").last().after(
            '<li class="list-group-item ' + condition.clazz + '-item" data-value="null">' +
            condition.label +
            '</li>'
          );
      }

      @for((license, extraConditions) <- licenses if extraConditions.nonEmpty) {
        template = Handlebars.compile($("#conditions-template").html());
        permissions = [];
        requirements = [];
        prohibitions = [];

        @for(condition <- extraConditions) {
          condition = $.grep(conditionsArray,
                function (obj) {
                  return (obj.clazz == "@condition.clazz") &&
                         (obj.rule == "@condition.rule");
                }).pop();

          @if(condition.clazz == "permission") {
            permissions.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "requirement") {
            requirements.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "prohibition") {
            prohibitions.push({
              label: condition.label
            });
          }
        }

        permissions.sort(sortConditions);
        requirements.sort(sortConditions);
        prohibitions.sort(sortConditions);

        html = template({
          permission: true,
          count: permissions.length,
          conditions: permissions
        });
        $("#@Global.sanitize(license.id)-extra").append(html);

        html = template({
          requirement: true,
          count: requirements.length,
          conditions: requirements
        });
        $("#@Global.sanitize(license.id)-extra").append(html);

        var html = template({
          prohibition: true,
          count: prohibitions.length,
          conditions: prohibitions
        });
        $("#@Global.sanitize(license.id)-extra").append(html);

        ecSizes.push({id: "@Global.sanitize(license.id)", size: "@extraConditions.size"});

        maxECSize = (@{extraConditions.size} > maxECSize) ? @{extraConditions.size} : maxECSize;

        var ecLen = @{extraConditions.size};
        var cProgress = 100.0 * uLen / (uLen + ecLen);
        var ecProgress = 100.0 - cProgress;

        $("#@Global.sanitize(license.id)-criteria-progress")
          .css("width", cProgress + "%");

        $("#@Global.sanitize(license.id)-extra-progress")
          .css("width", ecProgress + "%");
      }

      function linearec(x) {
        return (- x / (2.0 * maxECSize) + 1.0);
      }

      $.each(ecSizes, function(i, v) {
        $("." + v.id).css("background-color", "rgba(24,188,156," + linearec(v.size) + ")");
      });

      var mcSizes = [];
      var maxMCSize = 0;

      @for((license, missingConditions) <- incompleteLicenses) {
        template = Handlebars.compile($("#conditions-template").html());
        permissions = [];
        requirements = [];
        prohibitions = [];

        @for(condition <- missingConditions) {
          condition = $.grep(conditionsArray,
                function (obj) {
                  return (obj.clazz == "@condition.clazz") &&
                         (obj.rule == "@condition.rule");
                }).pop();

          @if(condition.clazz == "permission") {
            permissions.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "requirement") {
            requirements.push({
              label: condition.label
            });
          }
          @if(condition.clazz == "prohibition") {
            prohibitions.push({
              label: condition.label
            });
          }
        }

        permissions.sort(sortConditions);
        requirements.sort(sortConditions);
        prohibitions.sort(sortConditions);

        html = template({
          permission: true,
          count: permissions.length,
          conditions: permissions
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        html = template({
          requirement: true,
          count: requirements.length,
          conditions: requirements
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        var html = template({
          prohibition: true,
          count: prohibitions.length,
          conditions: prohibitions
        });
        $("#@Global.sanitize(license.id)-missing").append(html);

        mcSizes.push({id: "@Global.sanitize(license.id)", size: "@missingConditions.size"});
        maxMCSize = (@{missingConditions.size} > maxMCSize) ? @{missingConditions.size} : maxMCSize;

        var mcLen = @{missingConditions.size};
        var ccProgress = 100.0 * (uLen - mcLen) / uLen;
        var mcProgress = 100.0 - ccProgress;

        $("#@Global.sanitize(license.id)-cover-progress")
          .css("width", ccProgress + "%");
        $("#@Global.sanitize(license.id)-missing-progress")
          .css("width", mcProgress + "%");
      }

      function linearmc(x) {
        return - x / (2.0 * maxMCSize) + 1.0;
      }

      $.each(mcSizes, function(i, v) {
        $("." + v.id).css("background-color", "rgba(243,156,18," + linearmc(v.size) + ")")
      });

      $("#loader").remove();
      $("#results").removeClass("hidden");

      $("#open-all").click(function(){
        $(".collapse").collapse("show");
      });

      $("#close-all").click(function(){
        $(".collapse").collapse("hide");
      });

      $("#bottom").click(function(){
        $("html, body").animate({ scrollTop: $(document).height() }, 500);
      });

      $("#previous").click(function(){
        if($("#complete-licenses").length) {
          $("html, body").animate({ scrollTop: $("#complete-licenses").offset().top }, 500);
        } else {
          $("html, body").animate({ scrollTop: $("#incomplete-licenses").offset().top }, 500);
        }
      });

      $("#next").click(function(){
        if($("#incomplete-licenses").length) {
          $("html, body").animate({ scrollTop: $("#incomplete-licenses").offset().top }, 500);
        } else {
          $("html, body").animate({ scrollTop: $("#complete-licenses").offset().top }, 500);
        }
      });

      var userSelectionWidth = $("#user-selection").outerWidth(true) + "px";
      var userSelectionHeight = $("#user-selection").height();
      var userSelectionDefaultPos = $("#user-selection").offset().top - 5;

      $(window).scroll(function(event) {
        var windowpos = $(window).scrollTop();
        var userSelectionBottom = windowpos + userSelectionHeight + 5;
        var maximumBottomPosition = $(".footer").position().top - 21;
        var maximumTopPosition = $(".footer").position().top - userSelectionHeight - 191;

        if (windowpos > userSelectionDefaultPos && userSelectionBottom < maximumBottomPosition) {
          $("#user-selection").css("width", userSelectionWidth);
          $("#user-selection").css("top", "");

          $("#user-selection").addClass("fixed-current-selection");
          $("#user-selection").removeClass("absolute-current-selection");
        } else if (windowpos > userSelectionDefaultPos) {
          $("#user-selection").css("width", userSelectionWidth);
          $("#user-selection").css("top", maximumTopPosition);

          $("#user-selection").addClass("absolute-current-selection");
          $("#user-selection").removeClass("fixed-current-selection");
        } else {
          $("#user-selection").removeClass("fixed-current-selection");
          $("#user-selection").removeClass("absolute-current-selection");

          $("#user-selection").css("width", "");
          $("#user-selection").css("top", "");
        }
      });
    });
  });
  $(".collapse").collapse({"toggle": false});
</script>
}

@extra_templates = {
  @templates.conditionsTemplate()
}

@main(extra_css = extra_css, extra_js = extra_js,
extra_templates = extra_templates) {
<div class="container">
    <div class="row"><div class="col-md-12 centered-col">
        <h1 class="cover-heading">Licenses Search Engine</h1>
    </div></div>
    <div id="loader" class="h4">
      <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-center"></i></p>
      <p class="text-center h4">
        Loading results...
      </p>
    </div>
    <div id="results" class="hidden row">
      <div class="col-md-8">
        @if(!licenses.isEmpty) {
        <div id="complete-licenses" class="row">
            <div class="col-md-12">
              <h3 class="text-success results-heading">
                <i class="fa fa-check-circle fa-2x pull-left"></i> The following licenses are compatible with all
                <br/>your required conditions.
              </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="panel-group" id="perfect-matches">
            @for((license, extraConditions) <- licenses) {
                <div class="panel panel-success">
                  <div class="panel-heading @Global.sanitize(license.id)">
                    <div class="row">
                        <div class="col-md-9">
                            <a href="@license.about" class="license-id" target="_blank">@license.title</a>
                        </div>
                        <div class="col-md-3">
                          <a data-toggle="collapse" class="btn btn-sm btn-primary pull-right"
                             href="#@{Global.sanitize(license.id)}-perfect-collapse">
                            More Information
                          </a>
                        </div>
                    </div>
                  </div>
                  <div id="@{Global.sanitize(license.id)}-perfect-collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                             style="width: 100%;" id="@Global.sanitize(license.id)-criteria-progress">
                          Required Conditions
                        </div>
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                             style="width: 0%;" id="@Global.sanitize(license.id)-extra-progress">
                          Extra Conditions
                        </div>
                      </div>
                      @if(extraConditions.nonEmpty) {
                      <div class="row">
                        <div class="col-md-12 centered-col">
                          <h4>This license has these <span class="text-info">extra conditions</span></h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table table-bordered">
                            <tbody id="@Global.sanitize(license.id)-extra">
                            </tbody>
                          </table>
                        </div>
                      </div>
                      }
                      <div class="row">
                        <div class="col-md-12 centered-col">
                          <a href='@routes.Assets.at("licenses/" + license.id + ".ttl")'
                             class="btn btn-sm btn-primary">Download License RDF</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            }
            </div>
            </div>
        </div>
        }
        @if(!incompleteLicenses.isEmpty) {
        <div id="incomplete-licenses" class="row">
          <div class="col-md-12">
            <h3 class="text-warning results-heading ">
              <i class="fa fa-exclamation-circle fa-2x pull-left"></i>
              The following licenses are compatible but do not<br/>state all your required conditions.
            </h3>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="missing-matches">
                  @for((license, missingConditions) <- incompleteLicenses) {
                    <div class="panel panel-warning">
                      <div class="panel-heading @Global.sanitize(license.id)">
                            <div class="row">
                                <div class="col-md-9">
                                    <a href="@license.about" class="license-id" target="_blank">@license.title</a>
                                </div>
                                <div class="col-md-3">
                                  <a data-toggle="collapse" class="btn btn-sm btn-primary pull-right"
                                     href="#@{Global.sanitize(license.id)}-missing-collapse">
                                    More Information
                                  </a>
                                </div>
                            </div>
                        </div>
                        <div id="@{Global.sanitize(license.id)}-missing-collapse" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                   style="width: 0%;" id="@Global.sanitize(license.id)-cover-progress">
                                Covered Conditions
                              </div>
                              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                                   style="width: 0%;" id="@Global.sanitize(license.id)-missing-progress">
                                Missing Conditions
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 centered-col">
                                <h4>This license <span class="text-warning">doesn't state</span> these
                                  <span class="text-danger">conditions</span></h4>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered">
                                  <tbody id="@Global.sanitize(license.id)-missing">
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 centered-col">
                                <a href='@routes.Assets.at("licenses/" + license.id + ".ttl")'
                                   class="btn btn-sm btn-primary">Download License RDF</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                </div>
            </div>
        </div>
        }
      </div>
      <div class="col-md-4">
        <div id="user-selection-offset"></div>
        <ul id="user-selection" class="list-group current-selected">
          <li class="list-group-item active">Your selection</li>
          <li class="list-group-item permission-item text-success list-head">Permissions</li>
          <li class="list-group-item" id="permission-blank" data-value="null">&nbsp;</li>
          <li class="list-group-item requirement-item text-warning list-head">Obligations</li>
          <li class="list-group-item" id="requirement-blank" data-value="null">&nbsp;</li>
          <li class="list-group-item prohibition-item text-danger list-head">Prohibitions</li>
          <li class="list-group-item" id="prohibition-blank" data-value="null">&nbsp;</li>
          <li id="panels-buttons" class="list-group-item active">
            <div class="row">
              <div class="col-md-6">
                <button id="open-all" class="btn btn-info btn-sm btn-block">Open Panels</button>
              </div>
              <div class="col-md-6">
                <button id="close-all" class="btn btn-info btn-sm btn-block">Close Panels</button>
              </div>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-6">
                <button id="previous" class="btn btn-info btn-sm btn-block" @if(licenses.isEmpty){disabled}><i class="fa fa-lg fa-check-circle"></i></button>
              </div>
              <div class="col-md-6">
                <button id="next" class="btn btn-info btn-sm btn-block" @if(incompleteLicenses.isEmpty){disabled}><i class="fa fa-lg fa-exclamation-circle"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
}