@(status: String = "")(implicit token: play.filters.csrf.CSRF.Token)

@import helper._

@js_variables = {
<script type="text/javascript">
    var apiConditionsPath = "@routes.Conditions.listConditions";
    var apiLicensesPath = "@routes.Licenses.listLicenses";
    var apiLicensesPathUpload = "@routes.Admin.uploadlicense";
</script>
}

@extra_js = {
  <script src='@routes.Assets.at("javascripts/admin.newlicense.js")' type="text/javascript"></script>
}

@admin("Upload license", js_variables = js_variables, extra_js = extra_js,
  extra_templates = templates.selector(), navbar = 2) {
  @form(routes.Admin.uploadlicense(), 'role -> "form", 'enctype -> "multipart/form-data", 'id -> "new-license-form", 'class -> "col-md-12") {
    @CSRF.formField
    <div class="form-group">
      <label class="control-label" for="rdffile">
        License RDF File (in <a href="http://www.w3.org/TR/turtle/" target="_blank">Turtle format</a> and
        <a href="http://www.w3.org/ns/odrl/2/" target="_blank">ODRL vocabulary</a>)
      </label>
      <input type="file" id="rdffile" name="rdffile">
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-block" id="form-submit">Upload New License</button>
      </div>
      <div class="col-md-8 messages">
        <button id="created" class='btn btn-success btn-block msg-form @if(status != "created") { hide }' disabled="disabled">New license uploaded</button>
        <button id="existing" class='btn btn-warning btn-block msg-form @if(status != "existing") { hide }' disabled="disabled">The license has an existing URI</button>
        <button id="missing-title" class='btn btn-warning btn-block msg-form @if(status != "missing-title") { hide }' disabled="disabled">The uploaded file has no title (Dublin Core vocabulary).</button>
        <button id="missing-terms" class='btn btn-warning btn-block msg-form @if(status != "missing-terms") { hide }' disabled="disabled">The uploaded file has no licensing terms (L4LOD Vocabulary).</button>
        <button id="missing" class='btn btn-danger btn-block msg-form @if(status != "missing") { hide }' disabled="disabled">Please upload a valid file</button>
        <button id="incorrect" class='btn btn-danger btn-block msg-form @if(status != "incorrect") { hide }' disabled="disabled">The uploaded file format is incorrect</button>
      </div>
    </div>
  }
}