@()

@extra_css = {
<link rel="stylesheet" href='@routes.Assets.at("chosen/chosen.min.css")'>
<link rel="stylesheet" href='@routes.Assets.at("chosen/chosen.bootstrap.css")'>
}

@extra_js = {
<script src='@routes.Assets.at("chosen/chosen.jquery.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/visualizer.select.js")' type="text/javascript"></script>
}

@js_variables = {
<script type="text/javascript">
  var apiLicensesPath = "@routes.Licenses.listLicenses";
  var visualizerPath = '@routes.Visualizer.visualize("")';
</script>
}

@extra_templates = {
@templates.selector()
}

@main(extra_css = extra_css, extra_js = extra_js,
  extra_templates = extra_templates, js_variables = js_variables) {
<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Licenses Visualizer</h1>
    </div>
  </div>
  <div id="loader" class="h4">
    <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-center"></i></p>
    <p class="text-center h4">
      Loading licenses...
    </p>
  </div>
  <div id="service" class="hidden">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form">
          <div class="row">
            <div class="col-md-12">
              <h4>Choose a License to Visualize</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <select class="form-control" id="licenses-selector" name="license-select"></select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <button id="visualize" class="btn btn-info btn-block top-buffer">Visualize License</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}