@(license: License)

@extra_css = {
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/vis.min.css")'>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/visualizer.css")'>
}

@extra_js = {
<script src='@routes.Assets.at("javascripts/vis.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/visualizer.js")' type="text/javascript"></script>
}

@js_variables = {
<script type="text/javascript">
  var licenseurl = '@routes.Assets.at("licenses/" + license.id + ".ttl")';
  var license = {};
  license["id"] = ":@{license.id}";
  license["about"] = "<@{license.about}>";
  license["title"] = "@{license.title}";
  license["permissions"] = [];
  @for(condition <- license.conditions if condition.clazz == "permission"){
    license["permissions"].push("@condition.rule");
  }
  license["requirements"] = [];
  @for(condition <- license.conditions if condition.clazz == "requirement"){
    license["requirements"].push("@condition.rule");
  }
  license["prohibitions"] = [];
  @for(condition <- license.conditions if condition.clazz == "prohibition"){
    license["prohibitions"].push("@condition.rule");
  }
</script>
}

@main(extra_css = extra_css, extra_js = extra_js, js_variables = js_variables) {
<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Licenses Visualizer</h1>
      <h4 class="text-center">@{license.title}</h4>
    </div>
  </div>
  <div id="graph"></div>
</div>
}